<div class="container">
  <div *ngIf="displayPhoto" class="card mt-3">
    <div class="card-header">
      ID: {{displayPhoto.id}}
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <img [src]="displayPhoto.url">
        </div>
        <div class="col">
          <label for="title">Title:</label>
          <input type="text" class="form-control" id="title" [(ngModel)]="displayPhoto.title">
          <button class="btn btn-success m-1" (click)="savePhotoTitle()">Save</button>
          <p>Photo ID: {{displayPhoto.id}}</p>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary mr-2" (click)="onBack()">Back to Gallery</button>
      <button class="btn btn-danger" (click)="onDelete(displayPhoto)">Delete Photo</button>
    </div>
  </div>
</div>
